* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------FONTS-----------------------------------*/
/*-------------------------DEFAULT FONT-----------------------------*/
/*-------------------------------VARIABLES-------------------------------*/
/*
    @media (max-width: $md2) {
    }
    @media (max-width: $md3) {
    }
    @media (max-width: $md4) {
    }
*/
/*--------------------------CONTENT WRAPPERS------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(160, 160, 255);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
header {
  background-color: rgb(59, 59, 185);
}
main {
  padding: 20px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header a {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.hidden {
  display: none;
}
.code {
  display: inline-block;
  background-color: #2e2e2e;
  color: #f5f5f5;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  border-top: rgb(110, 110, 192) 2px solid;
  border-bottom: rgb(110, 110, 192) 2px solid;
}
.attention {
  display: inline-block;
  background-color: #2e2e2e;
  color: #ff0000;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  border-top: rgb(110, 110, 192) 2px solid;
  border-bottom: rgb(110, 110, 192) 2px solid;
}
.accordion-menu__item {
  font-size: 26px;
  font-weight: 700;
  padding: 10px;
  background-color: rgb(59, 59, 185);
  color: white;
  cursor: pointer;
  border-bottom: white 2px solid;
}
.accordion-menu__item-text {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px;
  background-color: rgb(110, 110, 192);
  color: white;
  cursor: pointer;
}
.accordion-menu__item-header {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  padding: 15px 0 5px 0;
  color: rgb(250, 238, 255);
}

.playground__header {
  display: block;
  background-color: #2e2e2e;
  color: #ff0000;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
table {
  background-color: #2e2e2e;
  color: white;
  font-size: 14px;
  margin: 10px 0;
} 
td, th{
  padding: 5px;
  border: 1px gray solid;
}